<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page de Cadastro para Newsletter</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action="/subscribe" method="POST" class="formulario-registro">
        <h1 class="titulo-formulario">Newsletter</h1>
        <label for="email" class="label-email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
        <button class="button-newsletter">Receber conteúdo<html lang="pt-br">
    </form>
</body>
</html>